@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Hi+Melody&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300;400&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'Meghan';
  src: url("../assets/fonts/Meghan.ttf"); }

@font-face {
  font-family: 'Typewriter';
  src: url(../assets/fonts/jmh_typewriter/JMH-Typewriter.ttf); }

@font-face {
  font-family: 'Bubble';
  src: url(../assets/fonts/bubble1/bubble.ttf); }

@font-face {
  font-family: 'Daily Bubble';
  src: url(../assets/fonts/daily_bubble/daily-bubble.ttf); }

@font-face {
  font-family: 'Mostera';
  src: url(../assets/fonts/Mostera/Mostera-Regular.otf); }

@font-face {
  font-family: 'Shine Bubble';
  src: url(../assets/fonts/shine_bubble/shine-bubble.ttf); }

@font-face {
  font-family: 'Some Bubbles';
  src: url(../assets/fonts/some_bubbles/some-bubbles.ttf); }

@font-face {
  font-family: 'Stora';
  src: url(../assets/fonts/stora/Stora.woff); }

html {
  scroll-snap-type: y mandatory; }

body {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal; }

.container {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always; }

.title {
  font-weight: bold;
  font-size: 7vh;
  font-family: "Open Sans", serif; }

.basic-title-holder {
  display: flex;
  justify-content: center;
  height: 15vh;
  align-items: center;
  flex-direction: column-reverse; }

.content {
  display: flex;
  flex-direction: row;
  padding: 0 5vw;
  height: 85vh;
  align-items: center; }

.box {
  width: 50%; }

ul {
  list-style-type: none; }

a {
  color: black;
  text-decoration: none; }

.cover {
  background-image: url(../assets/resources/background-image-home.png);
  background-size: cover; }
  .cover-title {
    font-family: 'Mostera';
    font-size: 4.5rem;
    color: #1f2a51; }
    .cover-title-holder {
      height: 100vh; }
  .cover-name {
    letter-spacing: 0.75rem;
    font-weight: 500;
    font-size: 1.5rem; }

.contents {
  background-image: url(../assets/resources/background-image-table.png);
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .contents ul {
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
    .contents ul li {
      font-size: 18px; }
      .contents ul li a:hover {
        font-weight: 600;
        color: #a3ceed;
        transition: all 0.2s ease-in-out; }

.introduction {
  background-image: url(../assets/resources/shiny-stars.png);
  background-size: 12%;
  background-repeat: no-repeat;
  background-position: right top; }
  .introduction-title-holder {
    height: 15vh;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column-reverse;
    position: relative;
    z-index: 1;
    bottom: -3%; }
  .introduction-stars-holder {
    width: 300px;
    display: flex;
    justify-content: end;
    align-items: end;
    position: relative; }
    .introduction-stars-holder :first-child {
      height: 7rem;
      transform: rotate(113deg);
      top: -57px;
      right: -136px;
      position: absolute;
      opacity: 0; }
    .introduction-stars-holder :nth-child(2) {
      opacity: 0;
      height: 5rem;
      transform: rotate(156deg);
      position: absolute;
      bottom: -55px;
      right: -183px; }
  .introduction .stars-animation img {
    transform: scale(0.1);
    transition: transform 1s ease-in-out, opacity 0.4s ease-in; }
  .introduction .stars-animation :first-child.show {
    opacity: 1;
    transform: scale(1) rotate(113deg); }
  .introduction .stars-animation :nth-child(2).show {
    opacity: 1;
    transform: scale(1) rotate(156deg); }
  .introduction-imagebox {
    display: flex;
    height: 100%;
    position: relative; }
    .introduction-imagebox-first-child {
      transform: translate(13%, 1%);
      position: absolute;
      z-index: 2;
      width: 65%; }
      .introduction-imagebox-first-child-decorations {
        position: relative; }
        .introduction-imagebox-first-child-decorations-item {
          position: absolute;
          width: 25%;
          transition: all 1s ease-in-out; }
        .introduction-imagebox-first-child-decorations > :first-child:is(img) {
          top: -40%;
          left: 3%;
          transform: rotate(43deg);
          width: 34%; }
        .introduction-imagebox-first-child-decorations :nth-child(2) {
          right: 20%;
          top: -20%;
          transform: scale(0.1) rotate(-15deg); }
        .introduction-imagebox-first-child-decorations :nth-child(3) {
          bottom: -15%;
          right: 20%;
          z-index: 2;
          transform: scale(0.1) rotate(180deg); }
        .introduction-imagebox-first-child-decorations :nth-child(4) {
          left: -8%;
          bottom: -13%;
          transform: scale(0.1) rotate(-15deg);
          opacity: 0.2;
          width: 20%; }
      .introduction-imagebox-first-child-profile {
        position: relative;
        z-index: -1; }
        .introduction-imagebox-first-child-profile-item {
          width: 70%; }
      .introduction-imagebox-first-child ul {
        position: absolute;
        transform: rotate(2deg);
        right: 32%;
        bottom: -38%;
        text-align: end; }
      .introduction-imagebox-first-child .decoration-animation > :first-child:is(img).show {
        top: -20%;
        left: 3%;
        transform: scale(1) rotate(43deg);
        width: 34%; }
      .introduction-imagebox-first-child .decoration-animation :nth-child(2).show {
        right: 20%;
        top: -20%;
        transform: scale(1) rotate(15deg); }
      .introduction-imagebox-first-child .decoration-animation :nth-child(3).show {
        bottom: -15%;
        right: 20%;
        z-index: 2;
        transform: scale(1); }
      .introduction-imagebox-first-child .decoration-animation :nth-child(4).show {
        left: -8%;
        bottom: -13%;
        transform: scale(1) rotate(-15deg);
        opacity: 1;
        width: 20%; }
    .introduction-imagebox-second-child {
      position: absolute;
      width: 60%;
      transform: translate(93%, -33%);
      z-index: 1; }
      .introduction-imagebox-second-child-decorations {
        position: relative; }
        .introduction-imagebox-second-child-decorations-item {
          position: absolute;
          width: 34%;
          bottom: 43%;
          z-index: 1;
          right: 10px;
          transform: scale(0.1) rotate(73deg);
          opacity: 0.2;
          transition: all 1s ease-in-out; }
      .introduction-imagebox-second-child .decoration-animation > :first-child:is(img).show {
        opacity: 1;
        transform: rotate(73deg); }
      .introduction-imagebox-second-child-body {
        position: relative; }
        .introduction-imagebox-second-child-body-item {
          transform: rotate(2deg) translate(0, 45%);
          width: 85%; }
    .introduction-imagebox-background {
      position: relative;
      top: -20%;
      left: -7%; }
      .introduction-imagebox-background-item {
        width: 120%; }
  .introduction-textbox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding-left: 5%; }
    .introduction-textbox p {
      font-size: 16px;
      margin: 4%; }

.experience {
  display: flex;
  flex-wrap: wrap; }
  .experience-textbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 0 5%; }
  .experience-translator {
    background-image: url(../assets/resources/translator.jpg);
    height: 16rem;
    background-size: cover;
    padding: 6rem 2rem 0 2rem;
    border-radius: 5px; }
    .experience-translator p {
      color: aliceblue; }
  .experience-imagebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
    position: relative; }
    .experience-imagebox img {
      height: 32vh;
      border-radius: 8px;
      position: relative;
      left: -15%; }
    .experience-imagebox--odd {
      position: relative;
      top: -23%;
      right: 0%; }
      .experience-imagebox--odd img {
        position: absolute; }
      .experience-imagebox--odd :hover {
        animation: tilt-n-move-shaking 0.75s infinite; }
    .experience-imagebox-item:hover {
      animation: tilt-n-move-shaking 0.75s infinite; }
  .experience-bullet {
    font-weight: bold; }
  .experience-disclaimer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 1%; }
    .experience-disclaimer img {
      height: 8vh; }

.more {
  display: flex;
  padding: 0 10%;
  background-image: url(../assets/resources/corkboard.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }
  .more-left {
    width: 33%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    z-index: 2; }
    .more-left .diary-animation {
      transform: scale(0.1) translate(-12%, 9%) rotate(160deg);
      transition: all 0.8s ease-in-out; }
    .more-left .diary-animation.show {
      transform: scale(1) translate(-12%, 9%) rotate(-20deg); }
  .more-title-container {
    background-image: url(../assets/resources/diary.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: 19% 7% 7% 0;
    text-align: center;
    transform: translate(-12%, 9%) rotate(-20deg); }
  .more-title-content {
    font-family: 'Typewriter';
    padding-left: 11%;
    margin-top: 5%;
    font-size: 3.4rem;
    margin-bottom: 4%; }
  .more-playlists {
    background-image: url(../assets/resources/paper-with-clip.png);
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    transform: translate(0%, -2%) rotate(-12deg);
    padding: 25% 4% 8% 2%; }
    .more-playlists h4, .more-playlists ul {
      transform: rotate(-7deg);
      text-wrap-mode: nowrap; }
    .more-playlists-items {
      font-family: "Hi Melody", serif;
      padding-top: 2%;
      font-size: 1.5vw;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .more-playlists-items li {
        display: flex;
        align-items: center;
        justify-content: center; }
        .more-playlists-items li :hover {
          font-weight: bold; }
        .more-playlists-items li img {
          height: 3vw;
          opacity: 0.75; }
      .more-playlists-items li:hover img {
        opacity: 1; }
  .more-subtitle {
    font-family: "Hi Melody", serif;
    font-size: 2vw; }
  .more-hobbies {
    background-image: url(../assets/resources/ripped-paper-no-stripes.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: 11% 10%;
    text-align: center;
    transform: translate(13%, -20%) rotate(-7deg);
    font-family: "Shantell Sans", serif;
    line-height: 198%; }
    .more-hobbies span {
      font-weight: 500; }
  .more-center {
    display: flex;
    width: 46%;
    align-items: center; }
    .more-center-text {
      line-height: 198%;
      text-shadow: 4px -2px 8px #0000006e;
      color: #1f2a51;
      display: flex;
      flex-direction: column;
      position: relative;
      background-image: url(../assets/resources/rectangle-paper.png);
      background-size: contain;
      background-repeat: no-repeat;
      transform: translate(-12%) rotate(-3deg);
      padding: 20% 5% 20% 23%;
      z-index: 1; }
      .more-center-text-english {
        font-family: "Shantell Sans", serif;
        font-size: 1.04vw;
        margin-bottom: 13%; }
        .more-center-text-english :first-child {
          margin-bottom: 4%; }
      .more-center-text-korean {
        font-family: "Gamja Flower", serif;
        font-size: 1.54vw; }
        .more-center-text-korean :first-child {
          margin-bottom: 6%; }
    .more-center-decoration {
      position: absolute;
      width: 31%;
      top: 11%;
      left: -9%;
      transform: rotate(10deg); }
      .more-center-decoration img {
        width: 100%;
        transition: all 0.6s ease-in-out; }
      .more-center-decoration :nth-child(2) {
        position: absolute;
        width: 79%;
        right: -188%;
        top: -139%;
        transform: scale(0.1) rotate(180deg); }
      .more-center-decoration :nth-child(3) {
        position: absolute;
        width: 114%;
        right: -309%;
        top: -163%;
        transform: scale(0.1) rotate(180deg); }
    .more-center .decoration-animation :nth-child(2).show {
      transform: scale(1) rotate(20deg); }
    .more-center .decoration-animation :nth-child(3).show {
      transform: scale(1) rotate(20deg); }
  .more-right {
    width: 33%; }
    .more-right-stars {
      width: 192%;
      background-image: url(../assets/resources/ripped-paper.png);
      background-size: contain;
      background-repeat: no-repeat;
      height: 62vh;
      transform: translate(-41%, 20%) rotate(139deg);
      position: relative;
      z-index: 0; }
      .more-right-stars :first-child:is(div) {
        width: 24%;
        position: absolute;
        right: 50%;
        bottom: 17%;
        transform: scale(0.1) rotate(60deg); }
        .more-right-stars :first-child:is(div) img {
          width: 100%; }
      .more-right-stars .flip {
        transition: all 0.6s ease-in-out; }
      .more-right-stars .flip.show {
        transform: scale(1) rotate(226deg); }
    .more-right-languages {
      background-image: url(../assets/resources/squared-blue-paper.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      transform: translate(-25%, -39%) rotate(353deg);
      z-index: 1;
      padding: 40% 16%;
      position: relative; }
    .more-right-content {
      line-height: 190%;
      text-shadow: 4px -2px 8px #00000040;
      text-align: center;
      position: relative; }
      .more-right-content-english {
        font-family: "Shantell Sans", serif;
        font-size: 16px;
        margin-bottom: 6%; }
      .more-right-content-korean {
        font-family: "Gamja Flower", serif;
        font-size: 24px; }
    .more-right-decoration {
      position: absolute;
      width: 59%;
      top: -11%;
      left: 68%;
      transform: rotate(35deg); }
      .more-right-decoration img {
        width: 100%; }

.project {
  background-image: url(../assets/resources/my-work.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 3%; }
  .project-container {
    display: flex;
    flex-wrap: wrap; }
  .project-left {
    padding: 3% 6%;
    background-image: url(../assets/resources/paper-cells.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    .project-left-list {
      padding-top: 3%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      list-style-type: "★"; }
  .project-imagebox {
    height: 50%;
    position: relative; }
    .project-imagebox img {
      width: 32%;
      position: absolute;
      opacity: 0;
      transform: scale(0.4); }
    .project-imagebox img.show {
      opacity: 1;
      transform: scale(1); }
    .project-imagebox :first-child {
      left: -12%;
      top: -6%;
      z-index: 1; }
    .project-imagebox :first-child.show {
      transition: all 0.65s ease-in-out; }
    .project-imagebox :nth-child(2) {
      top: -27%;
      left: 18%;
      z-index: 2; }
    .project-imagebox :nth-child(2).show {
      transition: all 0.65s ease-in-out 0.1s; }
    .project-imagebox :nth-child(3) {
      bottom: -1%;
      left: 18%;
      z-index: 4;
      width: 31%; }
    .project-imagebox :nth-child(3).show {
      transition: all 0.65s ease-in-out 0.2s; }
    .project-imagebox :nth-child(4) {
      top: -23%;
      left: 47%;
      z-index: 6; }
    .project-imagebox :nth-child(4).show {
      transition: all 0.65s ease-in-out 0.3s; }
    .project-imagebox :nth-child(5) {
      bottom: 17%;
      left: 46%;
      z-index: 3;
      width: 34%; }
    .project-imagebox :nth-child(5).show {
      transition: all 0.65s ease-in-out 0.4s; }
    .project-imagebox :nth-child(6) {
      top: 2%;
      right: -9%;
      z-index: 5; }
    .project-imagebox :nth-child(6).show {
      transition: all 0.65s ease-in-out 0.5s; }
    .project-imagebox :nth-child(7) {
      bottom: -5%;
      right: -5%;
      z-index: 0; }
    .project-imagebox :nth-child(7).show {
      transition: all 0.65s ease-in-out 0.6s; }
    .project-imagebox :nth-child(8) {
      top: -27%;
      right: 5%;
      z-index: 7;
      width: 20%; }
    .project-imagebox :nth-child(8).show {
      transition: all 0.65s ease-in-out 0.7s; }
    .project-imagebox :nth-child(9) {
      bottom: -4%;
      left: 7%;
      z-index: 8;
      width: 16%; }
    .project-imagebox :nth-child(9).show {
      transition: all 0.65s ease-in-out 0.7s; }
    .project-imagebox :nth-child(10) {
      top: -18%;
      left: 10%;
      z-index: 9;
      width: 16%; }
    .project-imagebox :nth-child(10).show {
      transition: all 0.65s ease-in-out 0.7s; }
    .project-imagebox :nth-child(11) {
      bottom: -1%;
      left: 39%;
      z-index: 10;
      width: 26%; }
    .project-imagebox :nth-child(11).show {
      transition: all 0.65s ease-in-out 0.7s; }
  .project-right {
    padding: 3% 6%;
    background-image: url(../assets/resources/paper-cells.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    .project-right h3 {
      text-align: center; }
    .project-right-text {
      margin: 5% 0; }
      .project-right-text span {
        display: inline;
        background-repeat: no-repeat;
        transition: all 500ms ease-in-out 0.2s;
        background-position: left;
        background-size: 0% 100%;
        background-image: linear-gradient(yellow, yellow); }
      .project-right-text .highlight.show {
        background-size: 100% 100%; }
    .project-right-song {
      position: relative;
      display: flex; }
    .project-right-tamagotchi {
      position: relative;
      width: 50%; }
      .project-right-tamagotchi img {
        position: absolute;
        width: 100%;
        top: 29%; }
      .project-right-tamagotchi-timestamp {
        background-image: url(../assets/resources/time-stamp.png);
        background-size: 100%;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5rem;
        background-repeat: no-repeat;
        position: absolute;
        width: 9rem;
        top: 50%;
        left: 63%;
        transform: rotate(347deg); }
        .project-right-tamagotchi-timestamp a {
          color: #203c95;
          font-weight: bold;
          text-align: center; }
    .project-right-decoration {
      position: absolute;
      width: 28%;
      right: -14%;
      top: -8%; }
      .project-right-decoration img {
        width: 100%; }
  .project-disclaimer {
    width: 100%;
    text-align: center;
    padding-top: 2%;
    font-style: italic;
    color: #a4aab1; }

.cover-letter {
  line-height: 22px; }
  .cover-letter-content {
    align-items: unset;
    gap: 2%; }

.contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/resources/background-image-home.png); }
  .contact-title-holder {
    background-color: white;
    width: 30%;
    margin-top: 2%;
    border-radius: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black; }
    .contact-title-holder-typewriter h3 {
      overflow: hidden;
      border-right: .15em solid black;
      letter-spacing: .12em;
      /* Adjust as needed */ }
  .contact .typewriter h3.show {
    animation: typing 1.6s steps(16, end), blink-caret 0.75s step-end infinite;
    margin: 0 auto;
    white-space: nowrap; }
  .contact i {
    font-size: 36px; }
  .contact-socials {
    margin: 2% 0;
    text-align: center;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px; }
    .contact-socials a {
      color: #2652d3; }
  .contact-message {
    height: 45vh;
    width: 30%;
    display: flex;
    flex-direction: column; }
    .contact-message-container {
      position: relative; }
    .contact-message .popUp {
      width: 100%; }
    .contact-message .popUp.show {
      animation: show-popup 0.8s ease-in-out 0.2s; }
    .contact-message .mouse {
      position: absolute;
      height: 7%;
      left: 47%;
      bottom: 2%;
      opacity: 0;
      transition: all 1s ease-in-out 0.5s; }
      .contact-message .mouse img {
        height: 100%; }
    .contact-message .mouse.show {
      left: 30%;
      bottom: 14%;
      opacity: 1; }

.arrow, .arrow:before {
  position: absolute;
  left: 50%; }

.arrow {
  width: 40px;
  height: 40px;
  bottom: 10%;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #b3d0e5 solid;
  border-bottom: 2px #b3d0e5 solid; }

.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  bottom: 10%;
  margin: -10px 0 0 -6px;
  border-left: none;
  border-top: none;
  border-right: 1px #b3d0e5bd solid;
  border-bottom: 1px #b3d0e5bd solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow; }

@keyframes arrow {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px); } }

@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg); }
  25% {
    transform: translate(5px, 5px) rotate(5deg); }
  50% {
    transform: translate(0, 0) rotate(0eg); }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg); }
  100% {
    transform: translate(0, 0) rotate(0deg); } }

@keyframes scaleUp {
  0% { }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

/* The typing effect */
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: black; } }

@keyframes show-popup {
  0% {
    transform: scale(0.7);
    opacity: 0; }
  45% {
    transform: scale(1.05);
    opacity: 1; }
  80% {
    transform: scale(0.95);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@media only screen and (max-width: 1024px) {
  .introduction-textbox p {
    font-size: 12px; }
  .experience {
    font-size: 12px; }
    .experience-imagebox--odd {
      right: 30%; }
  .more-title-content {
    font-size: 2rem; }
  .more-subtitle {
    font-size: 1.4rem; }
  .more-playlists-items {
    font-size: 16px; }
    .more-playlists-items li img {
      height: 38px; }
  .more-hobbies {
    font-size: 12px; }
  .more-center {
    position: relative; }
    .more-center-text {
      line-height: 170%;
      position: absolute;
      width: 108%; }
      .more-center-text-english {
        font-size: 12px; }
      .more-center-text-korean {
        font-size: 16px; }
    .more-center-decoration {
      left: -11%; }
  .more-right-stars {
    transform: translate(-45%, 20%) rotate(139deg); }
    .more-right-stars :first-child:is(div) {
      right: 58%;
      bottom: 30%; }
  .more-right-languages {
    transform: translate(-10%, -39%) rotate(353deg); }
  .more-right-content {
    line-height: 170%; }
    .more-right-content-english {
      font-size: 12px; }
    .more-right-content-korean {
      font-size: 18px; }
  .more-right-decoration {
    top: -5%;
    left: 76%; }
  .cover-letter-content {
    font-size: 12px; }
    .cover-letter-content .box {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
  .contact-title-holder {
    width: unset;
    padding: 0 4%;
    gap: 3%; } }
